@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4d30;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

.booking-section {
  background: linear-gradient(180deg, #f8f8f8 20%, #fff 80%);
}

.book-car {
  background-image: url("../public/images/book-car/book-bg.png");
  background-position: 50%;
}

.choose {
  background-image: url("../public/images/chooseUs/bg.png");
  background-position: -225px 255px;
}

.book-car,
.choose,
.intro {
  background-repeat: no-repeat;
  background-size: cover;
}

.faq {
  background-image: url("../public/images/faq/car.png");
  background-position: 0% 70%;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 768px) {
  .download {
    background-image: url("../public/images/banners/bg02.png");
    background-position: top;
    background-size: cover;
  }
}

.intro {
  background-image: url("../public/images/hero/heroes-bg.png");
  background-position: 50%;
}

.book {
  background-image: url("../public/images/banners/book-banner.png");
}